<%= form_with(model: member, local: true) do |form| %>
  <% if member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
      <% member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <span>Email</span>
    <span><input type="text" name="email" value="<%= member.email %>" /></span>
  </div>

  <div>
    <span>Name</span>
    <span><input type="text" name="name" value="<%= member.name %>" /></span>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
